In [1]:
int(2.5)

2

In [2]:
int (2.5,3.5)

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
# so In python we can only pass 1 argument for Typecasting , if you pass more then 1 argument we get Bug

Float --> Integer --> possible 
Integer --> float --> possible

Integer --> Boolean -->possible

In [3]:
int(True)

1

In [4]:
int(False)

0

In [7]:
int(True,False)

TypeError: int() can't convert non-string with explicit base

In [ ]:
# we cannot pass 2 arguments at a time for Typecasting int --> to Boolean

In [11]:
print(int(2.3))  # flaot to int
print(int(True)) # bool to int
print(int('10')) #string to int
print(int(2+3j)) # complex to int NOT POSSSIBLE

2
1
10

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# NOW WHILE TYPE CASTING FOR STRING TO INT , only Number with in quotes is allowed , if we are passing any letters ior words inside quotes
#then it will throw eroor look for below example

In [12]:
int("one") # here when we pass arguments like a words with in quotes for typecasting string to int

ValueError: invalid literal for int() with base 10: 'one'

In [13]:
int('1') # decimals within quotes is allowed for typecasting of a String to int

1

# NOW WE WILL TYPECAST FROM ALL OTHER DATA TYPES TO FLOAT LETS SEE

In [14]:
print(float(2))  # int -->float
print(float(False)) # bool -->float
print(float('sandy')) # string to float 
print(float(2+3j))   # complex to float#

2.0
0.0

ValueError: could not convert string to float: 'sandy'

In [15]:
print(float(2+3j))

TypeError: float() argument must be a string or a real number, not 'complex'

# TYPE CASTING OF COPMPLEX DATA TYPE

In [16]:
complex(10) # if you type cast int to complex -->possible

(10+0j)

In [17]:
complex(10,20) # passing 2 arguments as int -->possible 10 is Real part and 20 is Imaginary part

(10+20j)

In [18]:
complex('string')

ValueError: complex() arg is a malformed string

In [19]:
complex(10.2) # with Float type casting to Complex

(10.2+0j)

In [20]:
complex(10.3,9.4) # with float passing 2 arguments is -->possible

(10.3+9.4j)

In [21]:
complex(True) # with Boolean possible

(1+0j)

In [22]:
complex(False) # 0+0j=0j -->boolean possible with complex type casting

0j

In [23]:
complex(True,False) # possible

(1+0j)

In [24]:
complex(renu)

NameError: name 'renu' is not defined

In [25]:
complex ('capsule')

ValueError: complex() arg is a malformed string

In [26]:
complex(10,20,30) # complex takes only 2 parts only tahst why error

TypeError: complex() takes at most 2 arguments (3 given)

In [27]:
complex('apple',2) # complex cannot take the argument if first one is string)

TypeError: complex() can't take second arg if first is a string

In [28]:
complex(2,'apple') # either the case it cannot take when String confronts

TypeError: complex() second arg can't be a string

In [29]:
complex('apple')

ValueError: complex() arg is a malformed string

In [30]:
complex('1')

(1+0j)

# with Boolean Typecasting

In [31]:
boolean('1')

NameError: name 'boolean' is not defined

In [32]:
print(boolean(1))

NameError: name 'boolean' is not defined

In [33]:
print(bool(1))

True

In [37]:
print(bool(20))

True

In [35]:
print(bool(0))

False

In [36]:
print(bool(32))

True

In [38]:
print(bool(20,30))

TypeError: bool expected at most 1 argument, got 2

In [39]:
print(bool('apple'))

True

In [40]:
print(bool(bana,baja))

NameError: name 'bana' is not defined

In [41]:
print(bool('band','baja'))

TypeError: bool expected at most 1 argument, got 2

In [42]:
print(bool('band'))

True

In [43]:
print(bool(1+2j))

True

In [45]:
print(bool(1))
print(bool(1+2j))
print(bool('band'))
print(bool('apple'))
print(bool(32))

True
True
True
True
True

# Type acsting with string

In [51]:
print(str(2))  # with integer
print(str(34))
print(str(2.2)) # with float
#str(2.2,3.3) # with float double arguments

2
34
2.2

In [52]:
str(45)

'45'

In [53]:
str(1+2j)

'(1+2j)'

In [ ]:
# python Type casting completed

In [54]:
print('summer',2)

summer 2

# test