In [ ]:
### TUPLE

In [2]:
t=('alex',123456,'ciz4567',6543)
t

('alex', 123456, 'ciz4567', 6543)

In [3]:
t[1]=786543
print(t)

TypeError: 'tuple' object does not support item assignment

In [ ]:
## Tuple is immutable means we cannot change , we mainly use for data privacy

In [7]:
t1=(45,64,87,56,43)
t1.count(87)
print(t1)

(45, 64, 87, 56, 43)

In [8]:
t1.count(64)

1

In [9]:
t1.index(87)

2

In [10]:
for i in t1:
    print(i)

45
64
87
56
43

In [11]:
for i in enumerate(t1):
    print(i)

(0, 45)
(1, 64)
(2, 87)
(3, 56)
(4, 43)

In [14]:
t2=t1*3
print(t2) # here it will not multiply becoz Tuple values cannot be changed its immutable so thats why it will print 3 times

(45, 64, 87, 56, 43, 45, 64, 87, 56, 43, 45, 64, 87, 56, 43)